/* stylelint-disable max-line-length */
@font-face {
  font-family: Boxed;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Boxed-Regular.otf") format('opentype');
}

@font-face {
  font-family: Boxed;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/Boxed-DemiBold.otf") format('opentype');
}

@font-face {
  font-family: Boxed;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Boxed-Medium.otf") format('opentype');
}
